body{
    background-color: rgb(200, 200, 200); 
}
#top{
    display: flex;
    justify-content: center;
}
.top{
    display: flex;
    justify-content: space-evenly;
}
article{
    display: flex;
    justify-content: space-evenly;
}