body{
    background-color: hsla(35, 100%, 50%, 1);
}
#title{
    display: flex;
    justify-content: center;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: hsla(35, 50%, 40%, .5);
}
.categories{
    display: flex;
    justify-content: space-evenly;
}
.highlights{
    display: flex;
    justify-content: center;
}
.weekly-title{
    display: flex;
    justify-content: center;
}


footer{
    display: flex;
    justify-content: space-evenly;
}