body{
    background-color: rgb(24, 18, 30);
    color: rgb(220, 220, 220);
}
#title{
    display: flex;
    justify-content: center;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(35, 50, 55);
}
.categories{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;   
}
.highlights{
    display: flex;
    justify-content: center;
}
.weekly-title{
    display: flex;
    justify-content: center;
}
article{
    background: rgb(146, 51, 40)
}
footer{
    display: flex;
    justify-content: space-evenly;
}